asgiref==3.7.2
backports.zoneinfo;python_version<"3.12"
certifi==2023.11.17
charset-normalizer==3.3.2
dj-database-url==2.1.0
Django==4.2.7
django-cors-headers==4.3.1
django-extensions==3.2.3
django-sslserver==0.22
django-timedeltafield==0.7.10
djangorestframework==3.14.0
gunicorn==22.0.0
idna==3.4
numpy==1.22.4
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
packaging==24.0
Pillow==10.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==2.1.0
whitenoise==6.6.0
